.container {
  margin-left: 10%;
  margin-right: 10%;
}
.row {
  display: flex;
}
.left-pane {
  width: 25%;
  padding: 20px;
}
.right-pane {
  width: 75%;
  padding: 20px;
}

.img-fluid {
  width: 100%;
}

.text-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table tr td {
  border: 1px solid;
  padding: 8px;
}

.btn {
  padding: 15px;
  border-radius: 20px;
}

.btn-primary {
  background-color: green;
  color: white;
}

.w-100 {
  width: 100%;
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-form {
  width: 30%;
}

.input-form {
  width: 100%;
  padding: 15px;
  border: solid 2px grey;
  border-radius: 20px;
}
