.container {
  margin-left: 10%;
  margin-right: 10%;
}
.row {
  display: flex;
}
.left-pane {
  width: 25%;
  padding: 20px;
}
.right-pane {
  width: 75%;
  padding: 20px;
}

.img-fluid {
  width: 100%;
}

.text-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table tr td {
  border: 1px solid;
  padding: 8px;
}

.btn {
  padding: 15px;
  border-radius: 20px;
  border: none;
}

.btn-primary {
  background-color: green;
  color: white;
}

/* Untuk menyembunyikan element agar tidak muncul di browser */
.d-none {
  display: none;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: red; */
  /* flex direction asalnya adalah "row", bisa diubah menjadi "column" agar ke bawah */
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
}

.input-form {
  padding: 15px;
  border: solid 2px grey;
  border-radius: 20px;
}

.mb-3 {
  margin-bottom: 15px;
}
