.container {
  margin-left: 10%;
  margin-right: 10%;
  background-color: red;
  height: 400px;
}
.row {
  display: flex;
}
.left-pane {
  width: 25%;
  background-color: blue;
  height: 400px;
}
.right-pane {
  width: 75%;
  background-color: yellow;
  height: 400px;
}

.img-fluid {
  width: 100%;
}
